[core]
        editor = code --wait
[user]
	name = Spirit
	email = spirit@programmer.net
[init]
	defaultBranch = main
[pull]
	rebase = true
[credential]
	helper = store
[github]
	user = spirit-x64

[alias]
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	unstage = reset --soft HEAD^
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[[:lower:]]"
