[user]
	name = Spirit
	email = spirit@programmer.net
[init]
	defaultBranch = main
[pull]
	rebase = false
[github]
	user = spirit-x64
[credential]
	helper = store
# This is not safe to be in a public server do not do this
# idk tho my website already sucks who tf gonna hack it
